@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #1e0f2a;
  color: white;
}
nav{ 
  background: #211127;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  gap:30px;
  border-bottom: 1px solid #1e293b;
  position: sticky;
  top: 0;
}
nav a {
 color: #e2e8f0;
 text-decoration: none;
 transition: 3s;
 font-weight: 500;
}
nav a :hover{
  color: #ab38f8;
}
.container{
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 50px 0;
}
.hero{
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero h1{
  font-size: 4rem;
  margin-bottom: 15px;
}
.hero span{
  color: #9838f8;
}
.hero p{
  color: #d5cbe1;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.8;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.card{
  color:#1d0f2a;
  background: white;
  padding:30px;
  border-radius: 10px;
  margin-top: 15px;
}
.card:hover{
  color:#0f172a;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.card p{
  color:#000000;
  line-height:1.;
}

.card a{
  display:inline-block;
  margin-top:15px;
  color:#6e38f8;
  text-decoration:none;
  font-weight:600;
}

.title{
  font-size:2.5rem;
  margin-bottom:10px;
}

.subtitle{
  color:#eae0e0;
  margin-bottom:10px;
}

.quote{
  background: fixed linear-gradient(
    #910ee9,
    #8b25eb
  );

  padding:30px;
  border-radius:20px;
  margin-top:40px;

  box-shadow:
    0 10px 30px rgba(133, 37, 235, 0.3);
}

.quote h2{
  margin-bottom:15px;
}

.quote p{
  font-size:1.1rem;
  line-height:1.8;
}

footer{
  text-align:center;
  padding:30px;
  color:#94a3b8;
  border-top:1px solid #1e293b;
  margin-top:60px;
}
